.grids{
	overflow:hidden;
	height:400px;
	padding: 5px;
	box-shadow: 0px 0px 5px green;
	border-radius: 3px; 
	cursor: pointer;
}
.grids img {
	max-width: 100%;
}
.grids .sppb-container{
	width: 100%;
	padding: 0!important;
}
.grids .sppb-section {
	margin: 0!important;
	padding: 0!important;
	background-color:transparent!important;
	font-size: 11px;
}
.grids .sppb-section:first-child{
	margin-top: 0!important
}
.grids:hover{

}
@media(min-width: 992px){
	.grids {
		max-width: 23%;
		margin:5px;
	}
}
.grids .sppb-title-subheading{
	font-size: 11px!important;
	max-width: 100%!important;
}
.grids h2{
	font-size: 16px!important;
	max-width: 100%!important;
}
.grids .sppb-text-center {
	text-align: justify!important;
}
.grids .sppb-col-sm-6{
	width: 100%;
}
.grids > h2 {
	border-bottom: 1px solid #ccc!important;
	text-align: center!important;
}
.grids:hover {
    background: rgba(200,255,200,.8);
    transition-duration: 0.7s;
}
